body {
    background-color: #000;
}
.navbar {
    background-color: #e3f2fd;
}
.jumbotron {
    margin-bottom: 0;
}
.dropdown-menu {
    background-color: #e3f2fd;
}
footer {
    background-color: #00264d;
}
